body{
  background-color: rgb(176, 175, 174);
}


.active {
    border: 2px solid var(--bs-blue);
    border-radius: 5px;
  }

  /* Navbar.css */

.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: #92bde8; /* Change the background color as needed */
  color: rgb(62, 58, 58); /* Change the text color as needed */
}

  
.container{

    width: 100%;
}

.billboard-container{

width:100%;


>img{
    width:100%;
    border-radius: 10px;
}
}

.blog-card {
    > img {
      height: 250px;
      background-color: rgba(172, 209, 209, 0.94);
    }
    > .card-body {
{  }

      > .details {
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  

  
 
  
  @media (max-width: 992px) {
    .navbar-nav {
      flex-direction: column; 
    }
  
    .nav-item {
      margin-right: 0; 
      margin-bottom: 10px; 
  }
  
 
  @media (max-width: 768px) {
    .navbar-brand {
      font-size: 1.2rem; 
    }
  }
}